*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans","Arial Narrow",Arial,sans-serif;
}

.main_div{
  width: 100%;
  height: 100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  height: 90vh;
  background-color: #f4f4f4d8;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.25);
  border-radius: 15px;
}

.appbar{
  margin-top: 10px;
}

.balance{
  margin-top: 10px;
  text-align: left;
  margin-left: 5%;
}

.inc-exp-container {
  width: 90%;
  background-color: #fff;
  box-shadow:5px 5px 25px -5px rgba(0,0,0,0.25);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 5px 5%;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #077c0d;
  font-weight: bold;
}

.money.minus {
  color: #bb0000;
  font-weight: bold;
}

.history{
  margin-top: 10px;
}

.transaction-list{
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
}
.transaction-list > li{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: #fff;
  box-shadow:5px 5px 25px -5px rgba(0,0,0,0.25);
}

.li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #080808;
  text-transform: capitalize;
}

.form{
  background-color: white;
  width: 280px;
}

.button{
  width: 150px;

}
.btn {
  cursor: pointer;
  background-color: rgb(10, 68, 144);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

.btn:focus,
.delete-btn:focus {
  outline: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #077c0d;
}

.list li.plus:hover {
  border-right: 5px solid #077c0d;
  background-color: #077c0d;
  color: #f7f7f7
}

.list li.minus {
  border-right: 5px solid #bb0000;
}

.list li.minus:hover {
  border-right: 5px solid #bb0000;
  background-color: #bb0000;
  color: #f7f7f7
}


.delete-btn {
  cursor: pointer;
  background-color: #8a6a66;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.paragraph{
  font-size: 70%;
  opacity: 80%;
  font-weight: bold;
}

@media (max-width:768px){
  .main_div{
    width: 55%;
  }
  .center_div{
    width: 55%;
  }
}